[submodule "deviceHealth/components/nanopb"]
	path = deviceHealth/components/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
