menu persistent_logs

    config MAX_PERSISTENT_LOGS
        int "Maximum number of persistent logs"
        default 50
        help
            This option specifies the maximum number of persistent logs
            that can be stored on the system.  Persistent logs are
            stored in NVS partition.
    
    config PERSISTENT_LOGS_INTERNAL_LOG_LEVEL
        int "Internal log level"
        default 0
        help
            This option specifies the internal log level for persistent
            logs.  The value is a bitmask of log levels.  The default
            value is 3, which means that both ERROR and WARNING logs
            will be stored.

endmenu